{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    <div class="mt-100 mb-100 ml-10">
    <div class="text-center mb-4">
        {% element h1 %}
            {% trans "Password Reset" %}
        {% endelement %}
    </div>
    {% if user.is_authenticated %}
        <div class="text-center mx-5">
        {% include "account/snippets/already_logged_in.html" %}
        </div>
    {% endif %}
    <p class="text-center mx-5">
        {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise
            contact us if you do not receive it in a few minutes.{% endblocktrans %}
    </p>
    </div>
{% endblock content %}
