{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Sign Up Closed" %}
{% endblock head_title %}
{% block content %}
    <div class="mt-100 mb-100 ml-10">
        <div class="text-center mb-4">
            {% element h1 %}
                {% trans "Sign Up Closed" %}
            {% endelement %}
        </div>
        <p class="text-center mx-5">{% trans "We are sorry, but the sign up is currently closed." %}</p>
    </div>
{% endblock content %}
