{% extends '_base.html' %}

{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Contact Us' %}{% endblock title %}

{% block content %}

    <!-- CONTACT ADDRESS AREA START -->
    <div class="ltn__contact-address-area mb-60 mt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ltn__contact-address-item ltn__contact-address-item-4 box-shadow">
                        <div class="ltn__contact-address-icon">
                            <i class="icon-location-pin"></i>
                        </div>
                        <h3>{% trans 'Email Address' %}</h3>
                        <p>info@webmail.com <br>
                            jobs@webexample.com</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ltn__contact-address-item ltn__contact-address-item-4 box-shadow">
                        <div class="ltn__contact-address-icon">
                            <i class="icon-phone"></i>
                        </div>
                        <h3>{% trans 'Phone Number' %}</h3>
                        <p>+1234-567 890 <br>
                            +09876-543 210</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ltn__contact-address-item ltn__contact-address-item-4 box-shadow">
                        <div class="ltn__contact-address-icon">
                            <i class="icon-envelope"></i>
                        </div>
                        <h3>{% trans 'Email & Web' %}</h3>
                        <p>info@webmail.com <br>
                            jobs@webexample.com</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ltn__contact-address-item ltn__contact-address-item-4 box-shadow">
                        <div class="ltn__contact-address-icon">
                            <i class="icon-speedometer"></i>
                        </div>
                        <h3>{% trans 'Opening Hours' %}</h3>
                        <p>{% trans 'Fri to Wed: 6:00 Am to 8:00 Pm ' %}<br>
                            {% trans 'Thursday - Off' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTACT ADDRESS AREA END -->

    <!-- GOOGLE MAP AREA START -->
    <div class="ltn_google-map-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15411.523058014467!2d51.3474634975575!3d35.704730700238265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8dfe05732c2e91%3A0xfcbec017befd15f4!2z2KjYsdisINii2LLYp9iv24w!5e0!3m2!1sfa!2sfr!4v1702991036869!5m2!1sfa!2sfr"
                                width="100%" height="100%" frameborder="0" allowfullscreen="" aria-hidden="false"
                                tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GOOGLE MAP AREA END -->

    <!-- CONTACT MESSAGE AREA START -->
    <div class="ltn__contact-message-area mt-100 mb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__form-box contact-form-box box-shadow--- white-bg---">
                        <h3 class="text-center mb-50">{% trans 'Need Our Help! Please Send an Email.' %}</h3>
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <form id="contact-form" method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <div class="col-lg-12">
                                        <div class="btn-wrapper mt-0">
                                            <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">
                                                {% trans 'Send Message' %}
                                            </button>
                                        </div>
                                        <p class="form-messege mb-0 mt-20"></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTACT MESSAGE AREA END -->


    <script src="{% static 'js/contact.js' %}"></script>

{% endblock content %}
