{% load static %}
{% load i18n %}
{% load mptt_tags %}
{% load trans_fa %}
{% load order_temp_filters %}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Place favicon.png in the root directory -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon"/>
    <!-- Font Icons css -->
    <link rel="stylesheet" href="{% static 'css/font-icons.css' %}">
    <!-- plugins css -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom css -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    {% block style %}{% endblock style %}

</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- Add your site or application content here -->

<!-- Body main wrapper start -->
<div class="body-wrapper">

    <!-- HEADER AREA START (header-4) -->
    <header class="ltn__header-area ltn__header-8 section-bg-6">
        <!-- ltn__header-top-area start -->
        <div class="ltn__header-top-area top-area-color-white d-none">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="top-bar-right text-right">
                            <div class="ltn__top-bar-menu">
                                <ul>
                                    <li>
                                        <!-- ltn__social-media -->
                                        <div class="ltn__social-media">
                                            <ul>
                                                <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>

                                                <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                                                </li>
                                                <li><a href="#" title="Dribbble"><i class="fab fa-dribbble"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__header-top-area end -->

        <!-- ltn__header-middle-area start -->
        <div class="ltn__header-middle-area ltn__header-sticky ltn__sticky-bg-white plr--5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col logo-column">
                        <div class="site-logo">
                            <a href="{% url 'core:home_page' %}"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
                        </div>
                    </div>
                    <div class="col header-menu-column">
                        <div class="header-menu d-none d-xl-block">
                            <nav>
                                <div class="ltn__main-menu">
                                    <ul>
                                        <li><a href="{% url 'core:home_page' %}">{% trans 'home'|title %}</a></li>
                                        <li><a href="{% url 'store:product_list' %}">{% trans 'products'|title %}</a>
                                        </li>
                                        <li class="menu-icon"><a href="#">{% trans 'categories'|title %}</a>
                                            {% for genre,structure in categories|tree_info %}
                                                {% if structure.new_level %}
                                                    <ul>
                                                    <li class="mb-2">
                                                        {% else %}
                                                    </li>
                                                    <li class="mb-2">
                                                {% endif %}
                                            <a href="{% url 'store:category_page' genre.slug %}">{{ genre.name|title }}</a>
                                            {% if not genre.is_leaf_node %}
                                                <span class="float-right"> >> </span>
                                            {% endif %}
                                            {% for level in structure.closed_levels %}</li></ul>{% endfor %}
                                            {% endfor %}
                                        </li>
                                        <li><a href="{% url 'blog:post_list' %}">{% trans 'blog'|title %}</a></li>
                                        <li><a href="{% url 'core:contact_page' %}">{% trans 'contact'|title %}</a></li>
                                        <li><a href="#">{% trans 'about dev'|title %}</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="col">
                        <div class="ltn__header-options">
                            <ul>
                                <li>
                                    <!-- header-search-1 -->
                                    <div class="header-search-wrap">
                                        <div class="header-search-1">
                                            <div class="search-icon">
                                                <i class="icon-magnifier  for-search-show"></i>
                                                <i class="icon-magnifier-remove  for-search-close"></i>
                                            </div>
                                        </div>
                                        <div class="header-search-1-form">
                                            <form action="{% url 'store:product_search' %}" method="get">
                                                <input type="text" name="q" value="" placeholder="Search here..."/>
                                                <button type="submit">
                                                    <span><i class="icon-magnifier"></i></span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <!-- user-menu -->
                                    <div class="ltn__drop-menu user-menu">
                                        <ul>
                                            <li>
                                                <a href="{% url 'core:profile' %}"><i class="icon-user"></i></a>
                                                <ul>
                                                    {% if user.is_authenticated %}
                                                        <li>
                                                            <a href="{% url 'core:profile' %}">{% trans 'Profile' %}</a>
                                                        </li>
                                                        <li>
                                                            <a href="{% url 'account_logout' %}">{% trans 'Log out' %}</a>
                                                        </li>

                                                    {% else %}
                                                        <li>
                                                            <a href="{% url 'account_login' %}">{% trans 'Register' %}</a>
                                                        </li>
                                                        <li>
                                                            <a href="{% url 'account_signup' %}">{% trans 'Sign in' %}</a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <!-- header-wishlist -->
                                    <div class="header-wishlist">
                                        <a href="{% url 'store:favorite_product_list' %}"><i class="icon-heart"></i></a>
                                    </div>
                                </li>
                                <li>
                                    <!-- mini-cart 2 -->
                                    <div class="mini-cart-icon mini-cart-icon-2">
                                        <a href="#ltn__utilize-cart-menu" class="ltn__utilize-toggle">
                                            <span class="mini-cart-icon">
                                                <i class="icon-handbag"></i>
                                                <sup>{{ order.get_cart_items|num_fa_15 }}</sup>
                                            </span>
                                            {% if order|coupon_is_valid:request %}
                                                <h6><span>{% trans 'Your Cart' %}</span>
                                                    <span class="ltn__secondary-color">{{ order.get_cart_total_with_coupon|num_fa_20 }}</span>
                                                </h6>
                                            {% else %}
                                                <h6><span>{% trans 'Your Cart' %}</span>
                                                    <span class="ltn__secondary-color">{{ order.get_cart_total|num_fa_20 }}</span>
                                                </h6>
                                            {% endif %}
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <!-- Mobile Menu Button -->
                                    <div class="mobile-menu-toggle d-xl-none">
                                        <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                                            <svg viewBox="0 0 800 600">
                                                <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                                                      id="top"></path>
                                                <path d="M300,320 L540,320" id="middle"></path>
                                                <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                                                      id="bottom"
                                                      transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                                            </svg>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__header-middle-area end -->
    </header>
    <!-- HEADER AREA END -->


    {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}


    <!-- Utilize Cart Menu Start -->
    <div id="ltn__utilize-cart-menu" class="ltn__utilize ltn__utilize-cart-menu">
        <div class="ltn__utilize-menu-inner ltn__scrollbar">
            <div class="ltn__utilize-menu-head">
                <span class="ltn__utilize-menu-title">{% trans 'cart' %}</span>
                <button class="ltn__utilize-close">×</button>
            </div>
            <div class="mini-cart-product-area ltn__scrollbar">
                {% for item in order.act_items %}
                    <div class="mini-cart-item clearfix">
                        <div class="mini-cart-img">
                            <a href="{% url 'store:product_detail' item.product.slug %}"><img
                                    src="{{ item.product.main_image }}" alt="Image"></a>
                            <span class="mini-cart-item-delete">
                                <i class="icon-trash update-cart"
                                   data-action="delete_item"
                                   data-product="{{ item.product.pk }}"
                                   data-color_size_id="{{ item.color_size.pk }}">
                                </i>
                            </span>
                        </div>
                        <div class="mini-cart-info">
                            <h6>
                                <a href="{% url 'store:product_detail' item.product.slug %}">{{ item.product.title }}</a>
                            </h6>
                            {% if item.discount %}
                                <span class="mini-cart-quantity">{{ item.quantity|num_fa_20 }} x {{ item.discount_price|num_fa_20 }}</span>
                            {% else %}
                                <span class="mini-cart-quantity">{{ item.quantity|num_fa_20 }} x {{ item.price|num_fa_20 }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="mini-cart-footer">
                <div class="mini-cart-sub-total">
                    {% if order|coupon_is_valid:request %}
                        <h5>{% trans 'Total' %}: <span>{{ order.get_cart_total_with_coupon|num_fa_25 }}</span></h5>
                    {% else %}
                        <h5>{% trans 'Total' %}: <span>{{ order.get_cart_total|num_fa_25 }}</span></h5>
                    {% endif %}
                </div>
                <div class="btn-wrapper">
                    <a href="{% url 'store:cart_page' %}"
                       class="theme-btn-1 btn btn-effect-1">{% trans 'View Cart' %}</a>
                    <a href="{% url 'store:checkout' %}" class="theme-btn-2 btn btn-effect-2">{% trans 'Checkout' %}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Utilize Cart Menu End -->

    <!-- Utilize Mobile Menu Start -->
    <div id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu">
        <div class="ltn__utilize-menu-inner ltn__scrollbar">
            <div class="ltn__utilize-menu-head">
                <div class="site-logo">
                    <a href="{% url 'core:home_page' %}"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
                </div>
                <button class="ltn__utilize-close">×</button>
            </div>
            <div class="ltn__utilize-menu-search-form">
                <form action="{% url 'store:product_search' %}" method="get">
                    <input name="q" type="text" placeholder="Search...">
                    <button><i class="icon-magnifier"></i></button>
                </form>
            </div>
            <div class="ltn__utilize-menu">
                <ul>
                    <li><a href="{% url 'core:home_page' %}">{% trans 'home'|title %}</a></li>
                    <li><a href="{% url 'store:product_list' %}">{% trans 'products'|title %}</a></li>
                    <li><a href="#">{% trans 'categories'|title %}</a>
                        {% for genre,structure in categories|tree_info %}
                            {% if structure.new_level %}
                                <ul class="sub-menu">
                                <li>
                                    {% else %}
                                </li>
                                <li>
                            {% endif %}
                        <a href="{% url 'store:category_page' genre.slug %}">{{ genre.name|title }}</a>
                        {% for level in structure.closed_levels %}</li></ul>{% endfor %}
                        {% endfor %}
                    </li>
                    <li><a
                            href="{% url 'blog:post_list' %}">{% trans 'blog'|title %}</a></li>
                    <li><a href="{% url 'core:contact_page' %}">{% trans 'contact'|title %}</a></li>
                </ul>
            </div>
            <div class="ltn__utilize-buttons ltn__utilize-buttons-2">
                <ul>
                    <li>
                        <a href="{% url 'core:profile' %}" title="{% trans 'My Account' %}">
                            <span class="utilize-btn-icon">
                                <i class="icon-user"></i>
                            </span>
                            {% trans 'My Account' %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'store:favorite_product_list' %}" title="{% trans 'Wishlist' %}">
                            <span class="utilize-btn-icon">
                                <i class="icon-heart"></i>
                            </span>
                            {% trans 'Wishlist' %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'store:cart_page' %}" title="{% trans 'Shoping Cart' %}">
                            <span class="utilize-btn-icon">
                                <i class="icon-handbag"></i>
                                <sup>{{ order.get_cart_items|num_fa_15 }}</sup>
                            </span>
                            {% trans 'Shoping Cart' %}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ltn__social-media-2">
                <ul>
                    <li><a href="#" title="Facebook"><i class="icon-social-facebook"></i></a></li>
                    <li><a href="#" title="Twitter"><i class="icon-social-twitter"></i></a></li>
                    <li><a href="#" title="Pinterest"><i class="icon-social-pinterest"></i></a></li>
                    <li><a href="#" title="Instagram"><i class="icon-social-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Utilize Mobile Menu End -->

    <div class="ltn__utilize-overlay"></div>

    {% block content %}
    {% endblock content %}

    <!-- BRAND LOGO AREA START -->
    <div class="ltn__brand-logo-area  ltn__brand-logo-1 section-bg-1 pt-35 pb-35 plr--5">
        <div class="container-fluid">
            <div class="row ltn__brand-logo-active">
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="{% static 'img/brand-logo/1.png' %}" alt="Brand Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="{% static 'img/brand-logo/2.png' %}" alt="Brand Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="{% static 'img/brand-logo/3.png' %}" alt="Brand Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="{% static 'img/brand-logo/4.png' %}" alt="Brand Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="{% static 'img/brand-logo/5.png' %}" alt="Brand Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="{% static 'img/brand-logo/1.png' %}" alt="Brand Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="{% static 'img/brand-logo/2.png' %}" alt="Brand Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BRAND LOGO AREA END -->


    <!-- FOOTER AREA START -->
    <footer class="ltn__footer-area ">
        <div class="footer-top-area  section-bg-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">{% trans 'Quick Links' %}</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="{% url 'core:home_page' %}">{% trans 'Home' %}</a></li>
                                    <li><a href="{% url 'core:contact_page' %}">{% trans 'Contact Us' %}</a></li>
                                    <li><a href="{% url 'core:profile' %}">{% trans 'Profile' %}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">{% trans 'Explore' %}</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="{% url 'blog:post_list' %}">{% trans 'Blog' %}</a></li>
                                    <li><a href="{% url 'core:faq_page' %}">{% trans 'FAQ' %}</a></li>
                                    <li><a href="{% url 'core:about_us_page' %}">{% trans 'About Us' %}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">{% trans 'Shop' %}</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="{% url 'store:product_list' %}">{% trans 'Browse Products' %}</a></li>
                                    <li><a href="{% url 'store:cart_page' %}">{% trans 'Shopping Cart' %}</a></li>
                                    <li>
                                        <a href="{% url 'store:favorite_product_list' %}">{% trans 'Favorites List' %}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-about-widget">
                            <h4 class="footer-title">About Our Shop</h4>
                            <div class="footer-logo d-none">
                                <div class="site-logo">
                                    <img src="img/logo.png" alt="Logo">
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo incididunt ut
                                labore et dolore</p>
                            <div class="footer-address">
                                <ul>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-location-pin"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p>Brooklyn, New York, United States</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-phone"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p><a href="tel:+0123-456789">+0123-456789</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-envelope"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p><a href="mailto:example@example.com">example@example.com</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="ltn__social-media mt-20 d-none">
                                <ul>
                                    <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="#" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ltn__copyright-area ltn__copyright-2 section-bg-5">
            <div class="container ltn__border-top-2">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="footer-copyright-left">
                            <div class="ltn__copyright-design clearfix">
                                <p style="font-size: 18px;">&copy; <span class="current-year"></span>
                                    - {% trans 'Ali Sirjani' %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 align-self-center">
                        <div class="footer-copyright-right text-right">
                            <div class="ltn__social-media ">
                                <ul>
                                    <li><a href="#" title="Facebook"><i class="icon-social-facebook"
                                                                        style="font-size:25px;"></i></a></li>
                                    <li><a href="#" title="Twitter"><i class="icon-social-twitter"
                                                                       style="font-size:25px;"></i></a></li>
                                    <li><a href="#" title="Pinterest"><i class="icon-social-pinterest"
                                                                         style="font-size:25px;"></i></a></li>
                                    <li><a href="#" title="Instagram"><i class="icon-social-instagram"
                                                                         style="font-size:25px;"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER AREA END -->
</div>
<!-- Body main wrapper end -->

<!-- preloader area start -->
<div class="preloader d-none" id="preloader">
    <div class="preloader-inner">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
</div>
<!-- preloader area end -->

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- All JS Plugins -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>

<!-- Var USER -->
<script type="text/javascript">
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');
</script>

<script>
    // Assuming csrftoken is already defined in your template
    var productLikeUrl = '{% url "store:set_favorite_product" %}';
    var updateOrderUrl = '{% url "store:update_item" %}'
    var filterSizeUrl = '{% url "store:filter_size_ajax" %}'
</script>

<script src="{% static 'js/like_product.js' %}"></script>
<script src="{% static 'js/cart.js' %}"></script>

</body>
</html>